<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmation</title>
    <!-- // <link rel="icon" type="image/gif" href="assets/images/" /> -->
      <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/main.css">
</head>

  <body>

    <div class="center center-block text-center ">
    <h1 class="head one">Thank you for registering your ditch.</h1>
    <a href="/panic"><button type="button" class="btn btn-outline-primary btn-danger btn-lg two">Press to Continue</button></a>
  </div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
